* {
    margin: 0;
    padding: 0;
}

body, html {
    scroll-behavior: initial !important;
}

body {
    overflow: hidden;

}

.loading {
    z-index: 2323;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    display: flex;
}

/* start header */

.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgb(31, 30, 30);
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }

    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
        -moz-transform: scale(0.0);
        -ms-transform: scale(0.0);
        -o-transform: scale(0.0);
    }

    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
        -moz-transform: scale(1.0);
        -ms-transform: scale(1.0);
        -o-transform: scale(1.0);
    }
}

.header {
    width: 100%;
    height: 100vh;
    background-image: url(../img/drew-coffman-1872.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.header .layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
}

.icons i {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 20px;
    color: #8e7754;
    font-size: 35px;
    z-index: 32;
    cursor: pointer;
}

.w-50 {
    width: 45% !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 22px;
    font-family: serif, monospace;
   
    padding-left: 20px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #c8ad85;
}

.navbar-dark .navbar-nav .active {
    color: #c8ad85 !important;
}

.navbar .navbar-toggler{
    color: rgb(255, 255, 255);
    border-color:none;
    
}
.navbar .navbar-toggler:focus{
    box-shadow: none;
    border-color: white;
}

.head-caption h4 {
    /* font-family: serif; */
    padding-bottom: 30px;
    color: rgb(219, 214, 214);
}

.head-caption h1 {
    font-family: serif;
    font-size: 75px;
    padding-bottom: 30px;

}


.b1 {
    width: 130px;
    margin: 12px;
    padding: 12px 5px;
    font-size: 18px;
    background-color: #8e7754;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


.b2 {
    padding: 0.8em 1em;
    border: 1px solid white;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: white;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.b2::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: white;
    transition: .5s ease;
    display: block;
    z-index: -1;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -moz-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    -o-transform: translate(-50%, -50%) rotate(45deg);
}

.b2:hover::before {
    width: 105%;
}

.b2:hover {
    color: #111;
}


.b1:hover {
    transition: all 0.7s;
    color: black;
    background-color: white;
    border: none;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
}

.brd {
    cursor: pointer;
    width: 30px;
    height: 50px;

}

.brd::after {

    content: "";
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 3px;
    background-color: rgb(255, 254, 253);
    animation: move 1.5s infinite;
    -webkit-animation: move 1.5s infinite;
}


@keyframes move {
    0% {
        top: 10px;

        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        top: 70%;
        opacity: 0;
    }

}

/* end header */
/* start about me */

.about-you h2 {
    font-family: serif, monospace;

}

.about-you ul {
    padding: 0;
}

.about-you ul li {
    list-style-type: none;
}

.about-you ul li i {
    text-align: center;
    margin: 5px 5px 10px 0;
    width: 40px;
    height: 40px;
    padding: 10px;
    color: #8e7754;
    border: 1px solid gray;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* End aboutyou */
/* Start Location */
.location h2 {
    font-family: serif, monospace;

}

/* End location */
/* start gallery */
.gallery h3 {
    font-family: serif, monospace;
}


/* End gallery */
/* start contact  */
.contact h3 {
    font-family: serif, monospace;

}

.contact h4 {
    font-family: serif, monospace;

}

.contact ul {
    padding: 0;
}

.contact ul li {
    list-style-type: none
}

.contact ul li i {
    text-align: center;
    margin: 5px 5px 10px 0;
    width: 30px;
    height: 30px;
    padding: 10px 7px;
    background-color: #8e7754;
    color: #8e7754;
    border: 1px solid #8e7754;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: white;
    padding-top: 5px;
    font-size: 15px;
}

/* end contact */
/* start blog */
.blog {
    background-color: #403d38;
}

.blog h4 {
    padding: 35px 0 10px 0;
    color: black;
    font-weight: bold;
    font-family: serif, monospace;

}

.blog ul {
    padding: 0%;
}

.blog p {
    font-size: 20px;
}

.blog ul li {
    font-size: 20px;
    margin-top: 15px;
    list-style-type: none;
}

.blog ul li i {
    margin-right: 5px;
}

.blog .anwar:hover {
    color: white;
}

/* start footer */

.footer {
    background-color: #353330;

    text-align: center;
    /* display: block; */
}

.fottlog {
    margin-top: 2%;
    width: 170px;
}

.footer .item-icons {
    padding-bottom: 15px;
    
}

.footer .item-icons span {
    font-size: 25px;
    padding: 0 5px;
    color: gray;

}

.footer .item-icons .icon-face i:hover {
    color: #1877f2;
    cursor: pointer;
}

.footer .item-icons .icon-twitter i:hover {
    color: #1da1f2;
    cursor: pointer;
}

.footer .item-icons .icon-insta i:hover {
    color: #e1306c;
    cursor: pointer;
}

.footer .item-icons .icon-linked i:hover {
    color: #0077b5;
    cursor: pointer;
}



@media screen and (min-width: 481px) and (max-width:768px) {


    .head-caption h1 {
        font-size: 40px;

    }

    .head-caption p {
        font-size: 18px !important;
    }

    .head-caption button {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 769px) and (max-width:1024px) {
    .head-caption h1 {
        font-size: 50px;

    }

    .head-caption p {
        font-size: 22px !important;
    }

    .head-caption button {
        margin-bottom: 30px;
    }


}

@media screen and (min-width: 1025px) and (max-width:1250px) {

    .head-caption h1 {
        font-size: 55px;

    }

    .head-caption p {
        font-size: 25px !important;
    }

    .head-caption button {
        margin-bottom: 50px;
    }
}